Tests/Service References/ServiceReference/CoreLib.Commands1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreLib.Commands" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/CoreLib.Commands"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="AuthorizationCommand">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceCommand">
            <xs:sequence>
               <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AuthorizationCommand" nillable="true" type="tns:AuthorizationCommand" />
   <xs:complexType name="ServiceCommand">
      <xs:sequence>
         <xs:element minOccurs="0" name="Command" type="tns:CommandActions" />
         <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceCommand" nillable="true" type="tns:ServiceCommand" />
   <xs:simpleType name="CommandActions">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Authorization" />
         <xs:enumeration value="AddUser" />
         <xs:enumeration value="EditUser" />
         <xs:enumeration value="DeleteUser" />
         <xs:enumeration value="AuthorizationInfo" />
         <xs:enumeration value="GetSettings" />
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="CommandActions" nillable="true" type="tns:CommandActions" />
</xs:schema>