Tests/Service References/ServiceReference/CoreLib.Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreLib.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreLib.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorizationCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationCommand" nillable="true" type="tns:AuthorizationCommand" />
</xs:schema>