Tests/Service References/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://schemas.datacontract.org/2004/07/CoreLib.Commands" />
   <xs:element name="Authorization">
      <xs:complexType>
         <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreLib.Commands" minOccurs="0"
                        name="command" nillable="true" type="q1:AuthorizationCommand" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="AuthorizationResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" name="AuthorizationResult" nillable="true" type="xs:string" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>